.TitleScreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f8f1ae
}

.TitleScreen_Logo {
    display: block;
    margin: 0 auto;
    width: 128px;
    image-rendering: pixelated;
}

.TitleScreen .KeyboardMenu {
    position: relative;
    width: 100px;
    margin: 0 auto;
    background: transparent;
}

.TitleScreen button {
    color: #eec4dc;
    justify-content: center;
    padding: 0;
}

.TitleScreen .DescriptionBox{
    background: transparent;
    color:#eec4dc;
    border: 0;
    text-align: center;
}